#nprogress .bar {
  height: 3px !important;
}

#nprogress .spinner {
  display: none !important;
}

.nav-item {
  cursor: pointer;
}

.admin-index {
  border: none;
}

.admin-index-a {
  text-decoration: none;
  font-size: medium;
  color: #464646;
}
.admin-index-a:hover {
  text-decoration: underline;
  color: #007aff;
}
